body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.hero {
    height: 200vh;
    position: relative;
    padding-top: 100px;
    text-align: center;
}

.title span {
    display: inline-block;
    font-size: 60px;
    letter-spacing: 10px;
    opacity: 0;
}

.stats {
    margin-top: 30px;
    opacity: 0;
}

.road-wrapper {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    margin-top: 100px;
}

.road {
    position: absolute;
    width: 100%;
    height: 120px;
    background: #222;
    top: 40px;
}

.car {
    position: absolute;
    width: 300px;
    left: 0;
    top: 0;
}

.spacer {
    height: 100vh;
}